<template>
  <div v-if="showBlock" @click="stopTimer" class="block">
    <p>Click Me!</p>
  </div>
</template>

<script>
export default {
  props: ['delay'],
  data() {
    return {
      showBlock: false,
      timer: null,
      reactionTime: 0
    }
  },
  methods: {
    startTimer() {
      this.timer = setInterval(() => {
        this.reactionTime += 10
      }, 10)
    },
    stopTimer() {
      this.showBlock = false
      clearInterval(this.timer)
      this.$emit('end', this.reactionTime)
    }
  },
  mounted() {
    setTimeout(() => {
      this.showBlock = true
      this.startTimer()
    }, this.delay)
  }
}
</script>

<style>
.block {
  padding: 100px 0;
  margin: 40px auto;
  background-color: #0faf87;
  max-width: 400px;
  border-radius: 20px;
  color: white;
}
</style>
