<template>
  <div class="post-list">
    <div v-if="error">{{ error }}</div>

    <div v-if="posts.length">
      <div v-for="post in posts" :key="post.id">
        <SinglePost :post="post" />
      </div>
    </div>

    <div v-else>Loading...</div>
  </div>
</template>

<script>
import { onMounted, onUnmounted, onUpdated } from 'vue'
import getPosts from '../../composables/getPosts'
import SinglePost from './SinglePost.vue'
export default {
  props: ['post'],
  components: { SinglePost },
  setup() {
    const { load, error, posts } = getPosts()

    // ? alternatives of usual: mounted, unmounted, etc..
    onMounted(() => {
      load()
      console.log('component mounted')
    })
    onUnmounted(() => console.log('component onUnmounted'))
    onUpdated(() => console.log('component updated'))

    return { posts, error }
  }
}
</script>

<style lang="scss" scoped></style>
