<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, asperiores magni laborum autem beatae, similique atque ex quam corrupti provident, quia quas laudantium alias repellendus doloremque veniam ullam eos facilis eveniet delectus illum omnis voluptatem libero doloribus. Odio, ipsa officia, sunt aperiam blanditiis similique cupiditate, quidem maxime ab laboriosam rerum quos quia dolorem vero quae earum? Culpa exercitationem modi numquam ipsum illum ut voluptas ea eaque. Aut, vitae molestias quisquam modi enim et odio dolorum magni omnis perferendis? Autem, voluptate consequuntur voluptatibus fuga dolorum libero repellat incidunt optio explicabo quae ex quia vitae excepturi fugiat nesciunt porro iusto eveniet officiis.</p>
  </div>
</template>
