<template>
  <div class="composition">
    <h3>Composition API</h3>
    <p>My name is {{ name }} and my age is {{ age }}.</p>
    <button @click="handleClick">Click me</button>
    <button @click="age++">Add 1 to age</button>
    <input type="text" v-model="name" />
    <h2>Reactive</h2>
    <p>{{ ninja.name }} - {{ ninja.age }}</p>
    <div class="computed-form">
      <input type="text" v-model="search" />
      <p>search-term - {{ search }}</p>
      <div v-for="name in matchingNames" :key="name">
        {{ name }}
      </div>
    </div>
    <button @click="handleWatch">Stop watching</button>
    <PostList />
  </div>
</template>

<script>
import { computed, reactive, ref, watch, watchEffect } from 'vue'
import PostList from '../components/Composition/PostList'
export default {
  components: { PostList },
  setup() {
    // usual values are not 'reactive' (will not trigger a re-render)
    // for that use refs or 'reactive'

    // ? refs
    // const p = ref(null)
    const name = ref('mario')
    const age = ref(30)
    const names = ref([
      'mario',
      'yoshi',
      'luigi',
      'toad',
      'bowser',
      'koopa',
      'peach'
    ])
    const search = ref('')

    const stopWatch = watch(search, () => {
      console.log('Is called whenever `search` changes.')
    })

    const stopEffect = watchEffect(() => {
      console.log(
        `is called immediately, and whenever ${age.value} or search.value changes`,
        search.value
      )
    })

    // ? reactive
    // not possible to use primitive types
    // CANNOT be reassigned
    // use when you want to avoid the overhead of ref() (ref() is calling reactive() behind the scenes)
    const ninja = reactive({ name: 'luigi', age: 35 })

    // ? computed
    // compute new value based on other values
    const matchingNames = computed(() => {
      return names.value.filter(name => name.includes(search.value))
    })

    const handleClick = () => {
      // console.log(p, p.value)
      name.value = 'luigi'
      ninja.age += 10
    }
    const handleWatch = () => {
      stopWatch()
      stopEffect()
    }
    return {
      name,
      names,
      age,
      handleClick,
      ninja,
      matchingNames,
      search,
      handleWatch
    }
  },
  data() {}
}
</script>

<style lang="scss" scoped>
.composition {
  background-color: beige;
  padding: 10px;
  max-width: 500px;
  margin: 30px auto;
}
.computed-form {
  border: 1px solid #333;
  padding: 3px;
}
</style>
