<template>
  <div class="home">
    <h1>Homepage</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit iste at cum
      illum fugit molestias aspernatur rerum voluptas aliquam ut. A cupiditate
      voluptatum aperiam ducimus! Quia nulla voluptatibus dolor quis!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit iste at cum
      illum fugit molestias aspernatur rerum voluptas aliquam ut. A cupiditate
      voluptatum aperiam ducimus! Quia nulla voluptatibus dolor quis!
    </p>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  components: {}
}
</script>
