<template>
  <div class="container">
    <div class="loader" v-if="isLoading">Loading...</div>
    <div class="img-container border" v-if="photos.length">
      <div v-for="photo in photos" :key="photo.id" class="img-card">
        <div
          class="img-card__background"
          :style="{ backgroundImage: 'url(' + photo.thumbnailUrl + ')' }"
        ></div>
        <div class="img-card__content">
          <p>{{ photo.title }}</p>
        </div>
      </div>
    </div>
    <div class="image__err" v-else-if="error">{{ error }}</div>
    <div class="observable" v-intersection="fetchPhotos" ref="target"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'
import { useStore } from '@/store/index'

export default defineComponent({
  setup() {
    const store = useStore()
    const photos = computed(() => store.state.gallery.photos)
    const isLoading = computed(() => store.state.gallery.isLoading)
    const error = computed(() => store.state.gallery.error)

    return {
      photos,
      error,
      isLoading,
      fetchPhotos: () => store.dispatch('gallery/fetchPhotos')
    }
  }
})
</script>

<style scoped lang="scss">
.border {
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  min-height: 200px;
  border: 3px solid;
  padding: 1rem;
}
.container {
  max-width: 960px;
  margin: 10px auto;
}
.img-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  justify-items: center;
  padding: 20px;

  border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
}
.img-card {
  min-width: 100px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
  p {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
  }
  &__background {
    height: 150px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__content {
    padding: 16px;
  }
}

.image__err {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  max-width: 250px;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>
