<template>
  <h1>{{ title }}</h1>
  <p>Welcome...</p>
  <teleport to=".modals" v-if="showModal">
    <Modal theme="sale" @close="toggleModal">
      <template v-slot:links>
        <a href="#">Sign up now</a>
        <a href="#">More info</a>
      </template>
      <h1>Buy for at half price</h1>
      <p>Using a discount!</p>
    </Modal>
  </teleport>
  <div v-if="showModalTwo">
    <Modal @close="toggleModalTwo">
      <template v-slot:links>
        <form>
          <div>
            <label for="name">Name:</label>
            <input type="text" />
          </div>
        </form>
      </template>
      Second
    </Modal>
  </div>

  <button @click.alt="toggleModal">open modal (alt)</button>
  <button @click="toggleModalTwo">open modal</button>

  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link :to="{ name: 'About' }">About</router-link>
    <router-link :to="{ name: 'Jobs' }">Jobs</router-link>
    <router-link :to="{ name: 'ReactionTimer' }">Reaction TImer</router-link>
    <router-link :to="{ name: 'SignupForm' }">Sign up Form</router-link>
    <router-link :to="{ name: 'CompositionApi' }">Composition Api</router-link>
    <router-link :to="{ name: 'HyreleJobs' }">Hyrele Jobs</router-link>
    <router-link :to="{ name: 'PhotoGallery' }">Photo Gallery</router-link>
  </div>

  <button @click="redirect">Redirect</button>
  <button @click="back">Go back</button>
  <button @click="forward">Go forward</button>
  <router-view />
</template>

<script lang="ts">
import Modal from './components/Modal.vue'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'App',
  components: { Modal },
  data() {
    return {
      title: 'Hello!',
      showModal: false,
      showModalTwo: false
    }
  },
  methods: {
    toggleModal() {
      this.showModal = !this.showModal
    },
    toggleModalTwo() {
      this.showModalTwo = !this.showModalTwo
    },
    redirect() {
      this.$router.push({
        name: 'Home'
      })
    },
    back() {
      this.$router.go(-1)
    },
    forward() {
      this.$router.go(1)
    }
  }
})
</script>

<style lang="scss">
button {
  margin: 0 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;

    &.router-link-exact-active {
      color: white;
      background-color: crimson;
    }
  }
}
</style>
